<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amar.te</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/78b64b1d3d.js" crossorigin="anonymous"></script>
</head>
<header class="main-header">
    <div class="main-header-top-bar">
        <img src="/images/simple-logo.png" alt="amar.te-logo" class="main-header-logo">
        <img src="/images/name-logo.png" alt="amar.tee-logo" class="main-header-namelogo">
    </div>

    <a href="#" class="burger-button"><i class="fa-solid fa-bars"></i></a>

    <nav class="main-header-nav-bar">
        <ul class="left-navbar">
            <li><a href="#">Productos</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <li><a href="#">Creá tu cuenta</a></li>
            <li><a href="#">Ingresa</a></li>
            <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </nav>

</header>

<body>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus eius, voluptates quos est fugiat nobis
        corrupti repellendus
        inventore praesentium tenetur saepe provident adipisci odio temporibus ipsa libero veritatis totam esse.</h2>

    <h3 class="h3">PUTITO EL QUE LEE</h3>
</body>

</html>