<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amar.te</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus eius, voluptates quos est fugiat nobis corrupti repellendus 
    inventore praesentium tenetur saepe provident adipisci odio temporibus ipsa libero veritatis totam esse.</h2>

    <h3 class="h3">PUTO EL QUE LEE</h3>
</body>
</html>